.DS_Store
.env
.git
.gitattributes
.github
.gitignore
.nodemonrc
.npmrc
.vscode
.yarn/*
!.yarn/cache
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
node_modules
README.md
src/proto/*.js
src/proto/*.ts
yarn-error.log
